* {
    margin:0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 5fr;
    grid-template-rows: 1fr 5fr;
    width: 100%;
    height: 100vh;
}


.header {
   grid-column-start: 2;
   grid-column-end: 3;
}

.main-content {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #bccbde;
    display:grid;
    
    grid-template-columns: 2fr 1fr;

    
}

.project-container {
    box-sizing: border-box;
    padding: 2rem;
    padding-right:0;
}

.project-container h3 {
    padding-bottom: 14px;
}
.projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1rem;
    height: 96%;
}
.projects .card {
    background-color: white;
    text-align: center;
    color: black;
    padding: 15px;

}

.feed {
    display: grid;
    grid-template-rows: 0.3fr 3fr 0.3fr 3fr;
    padding: 2rem;
}

.announcements {
    
    padding-bottom: 40px;
    
}

.announcement  {
    background-color: white;
    padding: 20px 20px 0 20px;
}
.announcement h4, .announcement p {
    padding: 0 10px;
}

.announcement h4 {
    padding-top: 20px;
}
.announcement p{
    padding-bottom: 20px;
}

.trend {
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: repeat(4,1fr);
}


.side-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #06b6d4;
    color:white;

    display:flex;
    flex-direction: column;
    gap: 2rem;
}

.side-bar img{
    filter: invert(100%);
    width: 3rem;
}

.side-bar p {
    font-size: 1.2rem;
}

.icons {
    height: 2rem;
}

.group-function {
    display:grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}